.avaImg img{
    width: 50px;
    
}

.selectedPage {
    padding: 2px;
    color: greenyellow;
    font-weight: 500;
    font-size: 20px;
}

.unselectedPage{
    font-weight: 500;
    font-size: 15px;
    padding: 2px;
}

.paginator{
    width: 50%;
    margin: 0 auto;
    align-items: center;
}

.paginatorContent{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.navBtn{
    margin: 0 10px;
    border-color: green;
    border-radius: 4px;
    background-color: white;
    color:green;
}
