.postsWrapper{
    padding-top: 50px;
    padding-left: 40px;
}
.myPosts{
    font-weight: 500;
    font-size: 30px;
    padding-bottom: 20px;
}

.addPost{
    padding-top: 10px;
}

.addPostText{
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 20px;
}




/* КНОПКА ОПУБЛИКОВАТЬ */

.submitBtn {
    width: 130px;
    height: 40px;
    color: black;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  .submitBtn {
    background: greenyellow;
    background: radial-gradient(circle, greenyellow 0%, white 100%);
    line-height: 42px;
    padding: 0;
    border: none;
  }
  .submitBtn span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .submitBtn:before,
  .submitBtn:after {
    position: absolute;
    content: "";
    height: 0%;
    width: 1px;
   /* box-shadow:
     -1px -1px 20px 0px rgba(255,255,255,1),
     -4px -4px 5px 0px rgba(255,255,255,1),
     7px 7px 20px 0px rgba(0,0,0,.4),
     4px 4px 5px 0px rgba(0,0,0,.3); */
  }
  .submitBtn:before {
    right: 0;
    top: 0;
    transition: all 500ms ease;
  }
  .submitBtn:after {
    left: 0;
    bottom: 0;
    transition: all 500ms ease;
  }
  .submitBtn:hover{
    /* background: transparent; */
    color: gray;
    box-shadow: none;
  }
  .submitBtn:hover:before {
    transition: all 500ms ease;
    height: 100%;
  }
  .submitBtn:hover:after {
    transition: all 500ms ease;
    height: 100%;
  }
  .submitBtn span:before,
  .submitBtn span:after {
    position: absolute;
    content: "";
    /* box-shadow:
     -1px -1px 20px 0px rgba(255,255,255,1),
     -4px -4px 5px 0px rgba(255,255,255,1),
     7px 7px 20px 0px rgba(0,0,0,.4),
     4px 4px 5px 0px rgba(0,0,0,.3); */
  }
  .submitBtn span:before {
    left: 0;
    top: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
  }
  .submitBtn span:after {
    right: 0;
    bottom: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
  }
  .submitBtn span:hover:before {
    width: 100%;
  }
  .submitBtn span:hover:after {
    width: 100%;
  }