.friends{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}

.text{
  margin-top: 50px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 25px;
}
  