.gameWrapper{
    padding-top: 50px;
    display: flex;
    justify-content: center;
}
.gamesWrapper{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.game{
    transition: transform 0.5s ease;
}

.gameImg:hover{
    transform: scale(1.05);
}
