.textarea{  
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    background: #E9EFF6;
    resize: none;
}
.textareaError{
    border: solid red 2px;
}

.textareaWrapper {
    width: 200px;
}

.errorText{
    margin: 0 auto;
    color: red;
}

.errorWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.input{
    width: 200px;
    height: 25px;
    padding: 10px;
    border-radius: 10px;
    background: #E9EFF6;
}
