
.discription{
  
}

.mainWrapper{
  display: flex;
}

.avaWrapper{
  
  width: 200px;
    /* ПОМЕНЯТЬ ЦВЕТ */
  background-color: white;
}

.ava{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
  padding-right: 10%;
  width: 90%;
}

.avaImg{
  width: 60%;
  border-radius: 100%;
  margin-bottom: 20px;
}

.input__wrapper{

}




.userNameWrapper{
  /* ПОМЕНЯТЬ ЦВЕТ */
  background-color: white;
}

.nickName{
  font-size: 28px;
  font-weight: 700;
}








/* СТИЛИЗАЦИЯ ИНПУТА */
.inputFile {
	position: relative;
	display: inline-block;
}
.inputFile span {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 14px;
	vertical-align: middle;
	color: black;
	text-align: center;
	border-radius: 4px;
	background: greenyellow;
  background: radial-gradient(circle, greenyellow 0%, white 100%);
	line-height: 22px;
	height: 40px;
	padding: 10px 20px;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.2s;
}
.inputFile input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
 
/* Focus */
.inputFile input[type=file]:focus + span {
	box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
}
 
/* Hover/active */
.inputFile:hover span {
	background-color: #59be6e;
}
.inputFile:active span {
	background-color: #2E703A;
}
/* 
.inputFile span:before,
.inputFile span:after{
  box-shadow:
     -1px -1px 20px 0px rgba(255,255,255,1),
     -4px -4px 5px 0px rgba(255,255,255,1),
     7px 7px 20px 0px rgba(0,0,0,.4),
     4px 4px 5px 0px rgba(0,0,0,.3);
} */
 
/* Disabled */
.inputFile input[type=file]:disabled + span {
	background-color: #eee;
}

/* ЧТО-ТО СКОПИРОВАЛ */



@media only screen and (max-width: 600px) {
  .avaImg{
    width: 60%;
    border-radius: 100%;
  }
  .inputFile span {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 10px;
    vertical-align: middle;
    color: black;
    text-align: center;
    border-radius: 4px;
    background-color: #419152;
    line-height: 22px;
    height: 25px;
    padding: 2px 10px;
    box-sizing: border-box;
    border: none;
    margin: 0;
    transition: background-color 0.2s;
  }
  .nickName{
    font-size: 20px;
    font-weight: 700;
  }
  .avaWrapper{
    width: 140px;
      /* ПОМЕНЯТЬ ЦВЕТ */
    background-color: white;
  }
}