
.discription{
  
}

.mainWrapper{
  display: flex;
}

.avaWrapper{
  
  width: 200px;
    /* ПОМЕНЯТЬ ЦВЕТ */
  background-color: white;
}

.ava{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
  padding-right: 10%;
  width: 90%;
}

.avaImg{
  width: 60%;
  border-radius: 100%;
  margin-bottom: 20px;
}

.input__wrapper{

}




.userNameWrapper{
  /* ПОМЕНЯТЬ ЦВЕТ */
  background-color: white;
}



.nickName{
  padding-top: 6px;
  font-size: 28px;
  font-weight: 550;
}

.nickWvk{
  display: flex;
  gap: 5px ;
}


/* ИНФОРМАЦИЯ О ПРОФИЛЕ */


.shortInfo{
  margin-bottom: 8px;
  font-size: 20px;
  font-style: oblique;
}

.profileData{
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* СТИЛИЗАЦИЯ КНПКИ РЕДАКТИРОВАТЬ */

.submitBtn {
  width: 100px;
  height: 25px;
  color: black;
  border-radius: 2px;
  padding: 0px 0px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.submitBtn {
  background: greenyellow;
  background: radial-gradient(circle, greenyellow 0%, white 100%);
  padding: 0;
  border: none;
}
.submitBtn span {
  padding-top: 5px;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.submitBtn:before,
.submitBtn:after {
  position: absolute;
  content: "";
  height: 0%;
  width: 1px;
 box-shadow:
   -1px -1px 20px 0px rgba(255,255,255,1),
   -4px -4px 5px 0px rgba(255,255,255,1),
   7px 7px 20px 0px rgba(0,0,0,.4),
   4px 4px 5px 0px rgba(0,0,0,.3);
}
.submitBtn:before {
  right: 0;
  top: 0;
  transition: all 500ms ease;
}
.submitBtn:after {
  left: 0;
  bottom: 0;
  transition: all 500ms ease;
}
.submitBtn:hover{
  background: transparent;
  color: gray;
  box-shadow: none;
}
.submitBtn:hover:before {
  transition: all 500ms ease;
  height: 100%;
}
.submitBtn:hover:after {
  transition: all 500ms ease;
  height: 100%;
}
.submitBtn span:before,
.submitBtn span:after {
  position: absolute;
  content: "";
  box-shadow:
   -1px -1px 20px 0px rgba(255,255,255,1),
   -4px -4px 5px 0px rgba(255,255,255,1),
   7px 7px 20px 0px rgba(0,0,0,.4),
   4px 4px 5px 0px rgba(0,0,0,.3);
}
.submitBtn span:before {
  left: 0;
  top: 0;
  width: 0%;
  height: .5px;
  transition: all 500ms ease;
}
.submitBtn span:after {
  right: 0;
  bottom: 0;
  width: 0%;
  height: .5px;
  transition: all 500ms ease;
}
.submitBtn span:hover:before {
  width: 100%;
}
.submitBtn span:hover:after {
  width: 100%;
}







/* СТИЛИЗАЦИЯ ИНПУТА */
.inputFile {
	position: relative;
	display: inline-block;
}
.inputFile span {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 14px;
	vertical-align: middle;
	color: black;
	text-align: center;
	border-radius: 4px;
	background: greenyellow;
  background: radial-gradient(circle, greenyellow 0%, white 100%);
	line-height: 22px;
	height: 40px;
	padding: 10px 20px;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.2s;
}
.inputFile input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
 
/* Focus */
.inputFile input[type=file]:focus + span {
	box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
}
 
/* Hover/active */
.inputFile:hover span {
	background-color: #59be6e;
}
.inputFile:active span {
	background-color: #2E703A;
}
/* 
.inputFile span:before,
.inputFile span:after{
  box-shadow:
     -1px -1px 20px 0px rgba(255,255,255,1),
     -4px -4px 5px 0px rgba(255,255,255,1),
     7px 7px 20px 0px rgba(0,0,0,.4),
     4px 4px 5px 0px rgba(0,0,0,.3);
} */
 
/* Disabled */
.inputFile input[type=file]:disabled + span {
	background-color: #eee;
}

/* ЧТО-ТО СКОПИРОВАЛ */



@media only screen and (max-width: 600px) {
  .avaImg{
    width: 70%;
    border-radius: 100%;
  }
  .inputFile span {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 10px;
    vertical-align: middle;
    color: black;
    text-align: center;
    border-radius: 4px;
    background-color: #419152;
    line-height: 22px;
    height: 25px;
    padding: 2px 10px;
    box-sizing: border-box;
    border: none;
    margin: 0;
    transition: background-color 0.2s;
  }
  .nickName{
    padding-top: 10px;
    font-size: 20px;
  }
  .avaWrapper{
    width: 140px;
      /* ПОМЕНЯТЬ ЦВЕТ */
    background-color: white;
  }
  .ava{
    margin-top: 40px;
  }
}