.item {
  width: 200px;
  display: flex;
  gap: 10px;
}
.item img{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  
}
.text {
  word-wrap: break-word;
  width: 200px;
  margin: auto 0;
}

.message{
  font-weight: 400;
}
.say{
  font-weight: 500;
}