@media screen and (min-width: 600px) {
    body {
        background-color: #778899;
    }
    
    .app-wrapper {
        min-height: 100vh;
        display: grid;
        gap: 5px;
        max-width: 1600px;
        margin: 0 auto;
    
        grid-template-areas:
            "h h"
            "n c";
    
        grid-template-rows: 65px 1fr;
        grid-template-columns: 2fr 12fr;
    }
    
    .app-wrapper-content {
        grid-area: c;
        background-color: white;
        padding: 20px;
        padding-right: 0px;
    }
    
    .navigate{
        padding: 10px;
        grid-area: n;
        background-color: white;
    }
}


@media screen and (max-width: 600px) {
    body {
        background-color: #778899;
    }
    .app-wrapper {
        min-height: 100vh;
        display: grid;
        max-width: 100%;
        gap: 5px;
        margin: 0 auto;
        grid-template-areas:
            "h"
            "c";
    
        grid-template-rows: 65px 1fr;
        grid-template-columns: 1fr;
    }
    
    .app-wrapper-content {
        grid-area: c;
        background-color: white;
        padding: 10px;
    }
    
    .navigate {
        display: none;
    }
}


